<div class="header col-lg-10 clearfix">
    <div id="navbar">
      <% if current_dotauser %>
        <ul class="nav navbar-nav pull-left">
         <li><%= image_tag current_dotauser.avatar_url, alt: current_dotauser.nickname %></li>
         <li><%= link_to 'Log Out', logout_path, method: :delete %></li>
        </ul>
      <% else %>
        <ul class="nav navbar-nav">
         <li><%= link_to 'Log In via Steam', '/auth/steam' %></li>
        </ul>
      <% end %>
  </div>
</div>
<div class="col-lg-10 subnav">
</div>