<div class="header col-lg-10 clearfix">
  <h3 class="text-muted"><%= link_to 'estgods' , "/ "%> | <%= link_to 'matches' , matches_path %></h3>
    <div id="navbar">
    </div>
</div>
<div class="col-lg-10 subnav">
</div>